/* Header */
header {
    background: #7DD3FC;
    color: white;
    text-align: center;
    padding: 25px;
}

.contenedor-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

header h1 {
    color: white;
    font-size: 32px;
}

/* Banner */
.banner {
    width: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}